{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'application/styles.css' %}">
</head>
<body>
    <div class="container centerDiv">
        <h1>Welcome to our Warships online game!</h1>
        <p>Battleship is a strategic board game where two players compete to sink each other's ships on a grid-based board.
        <br>The objective is to sink all of your opponent’s ships before they sink all of yours.
        <br>Each player has a 10x10 grid board and a fleet of ships of varying sizes.</p>
        <p>To play this game on our site you must have an account.</p>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </div>
</body>
</html>
