<!-- templates/board.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battle Ship Game</title>
    <link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>
<body>
    <div class="grid grid1">
        {% for row in board %}
            {% for cell in row %}
                <div class="block block1 {% if cell %} occupied {% endif %}">{{ cell }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="grid grid2">
        {% for row in board %}
            {% for cell in row %}
                <div class="block block2 {% if cell %} occupied {% endif %}">{{ cell }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
