{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="{% static "application/style.css" %}">
</head>
<body>
    <div class="left_side">
    <div class = "grid grid1">
    {% for i,letter in rl %}
    {% for j,number in rn %}
{% comment %} {% for i in range %}
{% for j in range %} {% endcomment %}
    {% if i == 0 %}
        {% if j == 0%}
            <div class="horizontal_block naming_block"></div>
        {% else %}
            <div class="horizontal_block naming_block">{{number}}</div>
        {% endif %}
    {% elif j == 0 %}
        <div class=" vertical_block naming_block">{{letter}}</div>
    {% else %}
        <div class="block block1 block_id_{{i}}">{{i}}</div>
    {% endif %}

    
{% endfor %}
{% endfor %}
</div>
</div>
<div class = "grid grid2">
    {% for i in range %}
    {% for j in range %}
        <div class="block block2"></div>
    {% endfor %}
    {% endfor %}
    </div>
</body>
</html>
