{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="{% static "application/styles.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div style="display:flex;flex-direction:column;margin-right:10px">
    {% if winner %}
    <div class="winner-message" style="text-align: center; background-color: #28a745; color: white; padding: 10px;border-radius:8px;opacity:0.95">
        <h2>Congratulations,<br> {{ winner.username }} <br> has won the game!</h2>
    </div>
    {% endif %}
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{% url 'create_board' %}">Create a new board</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'connect_tables'%}">Choose an opponent</a>
            </li>
                <li class="navbar-item">
                <a href="{% url 'games_list'%}">My games</a>
            </li>
                <li class="navbar-item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
    <div class="game-boards container">
    
    {% for player, board in boards.items %}
        <div class="game-board">
            <h2 style="{% if user.username|lower == player|lower %} color:rgb(0, 123, 255) {% else %} color:rgb(255 30 0)  {% endif %}">
                {{ player|capfirst }}'s Board
            </h2>
            {% if winner %}
            {% else %}
                {% if current_turn|lower == player|lower %}
                    <p style="color: green;">Make a move, {{ current_turn|capfirst }}!</p>
                {% else %}
                    <p style="color: gray;">Waiting for {{ current_turn|capfirst }} to make a move</p>
                {% endif %}
            {% endif %}
            <div class="board-grid">
                <div class="block cell"></div>  {# Empty corner cell #}
                {% for letter in rl|slice:"1:" %}
                    <div class="block cell label">{{ letter.1 }}</div> 
                {% endfor %}
                {% for row_index, row in board.items %} 
                    <div class="block cell label">{{ row_index|add:1 }}</div>
                    {% for col_index, cell in row.items %} 
                        <div id="grid{{row_index}}{{col_index}}" data-hidden-value="{{cell}}" 
                            class="block block1 
                            {% if user.username|lower == player|lower %} 
                                {% if cell == '1' %} occupied
                                {% elif cell == '2' %} hit
                                {% elif cell == '3' %} missed {% endif %}
                            {% else %}
                            {% if cell == '2' %} hit
                            {% elif cell == '3' %} missed {% endif %}
                                block_enemy cursor
                            {% endif %}" 
                            data-row="{{ row_index }}" data-col="{{ col_index }}"
                            {% if user.username|lower != player|lower %}
                                onclick="shoot({{ row_index }},{{ col_index }})" 
                            {% endif %}>
                            
                        </div>
                    {% endfor %}
                {% endfor %} 
            </div>
        </div>
        {% if has_ships %} <div class="container">GG</div> {% endif %}
    {% endfor %}
    </div>
</body>
<script>
    function shoot(row,col){
    
        // Create the data object to send
        const data = {
            row: row,
            col: col,
            game_id: {{game_id}},
        };
        // Get the CSRF token
        const csrftoken ='{{csrf_token}}';
    
        // Send a POST request to the Django backend
        fetch('/update-board/', {  // Adjust the URL if your view has a different name or path
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // Include the CSRF token if you have CSRF protection enabled
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.status === 'success') {
                // Handle the successful shot (e.g., update the board display, check for game over)
                console.log('Shot successful:', result);
                // You'll likely need to update the opponent's board display based on the 'result' data
            } else {
                // Handle errors (e.g., display an error message)
                console.error('Error shooting:', result.message);
            }
            //location.reload();
        })
        .catch(error => {
            console.error('Request failed:', error);
        });

    }
    function pollForUpdates() {
        /*const csrftoken ='{{csrf_token}}';
        const gameId = '{{game_id}}'; // Get the gameId from your template context
        fetch(`/check_for_updates/${gameId}/`,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // Include the CSRF token if you have CSRF protection enabled
            }
        })
            .then(response => response.json())
            .then(result => {
                if (result.update) {
                    location.reload(); // Reload the page if there's an update
                }
            })
            .catch(error => {
                console.error('Polling failed:', error);
            });*/
            //location.reload();
    }
    
    // Poll every 5 seconds (adjust the interval as needed)
    setInterval(pollForUpdates, 5000); 
</script>
</html>
