{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="{% static "application/styles.css" %}">
</head>
<nav class="navbar">
    <ul class="navbar-menu">
        <li class="navbar-item">
            <a href="{% url 'create_board' %}">Create a new board</a>
            <a href="{% url 'connect_tables'%}">Choose an opponent</a>
            <a href="{% url 'games_list'%}">My games</a>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</nav>
<div class="container">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit">Connect Tables</button>
</form>
</div>
</html>