{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your games</title>
    <link rel="stylesheet" href="{% static 'application/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{% url 'create_board' %}">Create a new board</a>
                <a href="{% url 'connect_tables'%}">Choose an opponent</a>
                <a href="{% url 'games_list'%}">My games</a>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    <h1>Your Games</h1>
    <p>Here are the games that you participated in.
    <br>Click "View game" to look at the game you won or to return to an ongoing game.
    </p>

    <div class="board-list">
        {% for game in games %}
            <div class="game-boards game-board">
                <div style="margin:20px;">
                    <b>Game {{ game.id }}:</b>
                    vs 
                    {% if game.player_1 == user %}
                        {{ game.player_2.username }} 
                    {% else %}
                        {{ game.player_1.username }}
                    {% endif %}
                    <br>
                    <b>Created on:</b> {{ game.created_at|date:"d/m/Y, H:i" }}
                    <br>
                    <b>Status: </b>
                    {% if game.current_turn == user %}
                        Your turn
                    {% else %}
                        {{ game.current_turn.username }}'s turn
                    {% endif %}
                    <br>
                </div>
                <button type="button" style="margin:20px;"onclick="window.location.href='{% url 'game_view' game_id=game.id %}'">View Game {{ game.id }} </button>
            </div>
        {% empty %}
            <p>You have not participated in any games yet.</p>
        {% endfor %}
    </div>
</div>
</body>
</html>