{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Board saved succesfully</title>
        <link rel="stylesheet" type="text/css" href="{% static 'application/styles.css' %}">
    </head>
    <style>
        h1 {
            color: #333;
            margin: center;
            font-size: 2em;
        }
    </style>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{% url 'create_board' %}">Create a new board</a>
                <a href="{% url 'connect_tables'%}">Choose an opponent</a>
                <a href="{% url 'board_list'%}">My boards</a>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class = "container">
        <h1>Board Saved Successfully!</h1>
        <p class="board-info">Your board ID is: <strong>{{ board.id }}</strong></p>
        <form id="Form" method="POST" action="/connect-tables/"> {% csrf_token %}
            <input type="hidden" id="boardData" name="boardData" value="">
            <button type="submit" onclick="">Choose your opponent!</button> 
        </form>
    </div>
</body>
</html>