{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'application/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{% url 'create_board' %}">Create a new board</a>
                <a href="{% url 'connect_tables'%}">Choose an opponent</a>
                <a href="{% url 'games_list'%}">My games</a>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container centerDiv">
        <h2>Welcome, {{ user.username }}!</h2>
        
        <p>Battleship is a classic two-player strategy game where opponents attempt to sink each other's fleet of ships. Each player has their own grid where they secretly place their ships, while also having an identical grid used for tracking their guesses against their opponent's fleet.</p>

        <p>The game is played in turns, with each player calling out specific coordinates on the grid in an effort to locate and sink their opponent’s ships. If the guessed coordinate hits part of a ship, it's marked as a "hit," and if it misses, it's marked as a "miss." The first player to sink all of the opponent's ships wins the game.</p>

        <p>Each player’s fleet consists of several ships of varying lengths, such as an aircraft carrier, battleship, submarine, and destroyer. Players must place their ships on the grid, strategizing to hide them effectively while also planning their attacks to find and destroy the opponent's ships as quickly as possible.</p>

        <p>Battleship combines strategic planning, guessing, and a bit of luck, making it a challenging and enjoyable game for players of all ages. The game ends when one player successfully sinks all of the other player's ships.</p>
        <p>To make you new board choose "Create a new board" on the navigation menu

        <br>If you already have your board click "Choose an opponent"

        <br>If you are willing to see games you participated in, click "My games"

        </p>
    </div>
</body>
</html>